<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="OycDB1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TFKKQ1E\SQLEXPRESS;initial catalog=OycDB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="localhost_OycDB1_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-TFKKQ1E\SQLEXPRESS;integrated security=SSPI;initial catalog=OycDB1" />
    <add name="desktop-tfkkq1e\sqlexpress.OycDB1.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-TFKKQ1E\SQLEXPRESS;integrated security=SSPI;initial catalog=OycDB1" />
</connectionStrings></configuration>